body{
    font-family: 'Montserrat', sans-serif;
    
}

.wrapper{
    height: 100px;
    width:100%;
    

}
#hr-name{
    width:250px;
    /* margin-left: 20%; */
}
#hr-course{
    /* margin-left: 30%; */
    width:150px;
}
div{

    border-radius: 2px;
}

#Center{
    max-width: 1200px;
    width:100%;
    border:2px solid #00aa9d;
    margin:0 auto;

}

.My-marg{
    font-size: 16px;
    margin-top:10px;
    margin-left: 5px;
    width:90%;
    text-align:left;
    line-height: 35px;
}
.Relative{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left:-50px;
    border-radius: 100%;
    background-color:#00aa9d;
}
.Text{
     padding-left: 50px;
     font-size: 15px;
     position: absolute;
}
.Edu{
    margin-top:20px;
    font-size: 20px;
    width:80%;
    text-align:left;
}

aside{
    margin-left: 1%;
    background: #ffffff;
    width: 45%;
    float:left;
}
#main{
    margin-top:80px; 
    float: left;
    margin-left: 20px;
    width: 48%;
}
.avatar{
    display: flex;
    flex-direction: column;
    margin-left:-20px;
    margin-top:5px;
}

#header{
    
     width: 100%;

    margin-top: 50px;
}
#About_Me{
    margin-top: 50px;
    margin-left: 25px;
    width: 90%;
}

#name {
    
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px pink;
}
#course {
    
/* margin-left: -45px; */
    
margin-top: 15px;
    
font-size: 25px;
    
font-weight: bold;
    
text-align: center;
    
text-shadow: 1px 1px 2px pink;
}
.Language{
    margin-left:10px;
    font-weight: bold;
}

.b_side{
    border-left: 5px solid #00aa9d;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 32px;
}
#Exp{
    margin-top: 50px;
    font-size: 20px;
    border-left: 2px solid  #00aa9d; 
    margin-left: 0px; 
}
  
#Education{
    padding-left: 30px;
    margin-top: 60px;
    font-size:20px;
    
    text-align:center;
}
.h3{
    margin-left: 20px;
    margin-top: 60px;
    font-size: 30px;
    text-shadow: 1px 1px 2px pink;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.h2{
    margin-top:80px;
    font-size: 30px;
    text-shadow: 1px 1px 2px pink;
    color: rgb(0, 0, 0);
    border: 2px solid #02b1a2;
    background-color:#00aa9d;
    opacity: 0.9;
    border-radius: 50px 1000px 50px 1000px;
    width: 90%;
    font-weight: bold;
    text-align:center;
}
.Contact i{
    padding-left:10px;
    margin-top:20px;
    margin-right:35px;
    margin-left:10px;
    width:10px;
   
}
.Contact{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.Icon{
    text-align: left;
    width: 30px;
    border: 3px solid #00aa9d;
    background-color:#00aa9d;
    border-radius:50px 1000px 50px 1000px;
}
.Icon1{
    border: 3px solid #00aa9d;
    width:30px;
    background-color:#00aa9d;
    border-radius: 30%;
}

.Skills
{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 30px;
   
}
.Img-radius{
    margin-left: 26%;
    padding: 5px;
    width: 185px;
    height: 185px;
    border: 10px solid #00aa9d;
    border-radius: 0px 100px 00px 100px;
    /* text-align: center; */
    object-fit: cover;
}

.Circul{
    background: #ffffff;
    width: 110px;
    height: 110px;
    text-align: center;
    font: 22px/55px 'Montserrat', sans-serif;
    border: 20px solid #00aa9d;
    border-radius: 70%;
    margin-top: 80px;
    float: left;
    margin-left: 30px;
}
.Circul_1{
     border-right: 20px solid #d1d6d6;
     margin-left: 20px;
}


img {
    width: 100%;
}

@media (max-width: 1250px){
    .Circul{
        width: 100px;
        height: 100px;
        font: 20px/49px 'Montserrat', sans-serif;
        border: 15px solid #00aa9d;
        margin-top: 80px;
        margin-left: 15px;
    }
    .Circul_1 {
        
        border-right: 10px solid #d1d6d6;
   }
}

 @media (max-width: 1130px){

    .h2{
    margin-top: 60px;
    font-size: 30px;
    width: 100%;}

    #main{
        width:38%;
        margin-left:70px;
        margin-top:160px;
    }
    
    .b_side {
    margin-top: 40px;
    width: 30%;
    font-size: 27px;
    margin-left:10px;
    line-height: 50px;
}
.Circul{
    width: 85px;
    height: 85px;
    font: 16px/40px 'Montserrat', sans-serif;
    border: 14px solid #00aa9d;
    margin-top: 80px;
    margin-left: 20px;
}
.Circul_1 {
    margin-left: 5px;
    border-right: 10px solid #d1d6d6;
}
.Text{
    line-height: px;
    font-size:16px;
}
.My-marg{
    line-height: 25px;
}

} 



@media (max-width: 1015px){
    .Circul{
        width: 80px;
        height: 80px;
        font: 16px/40px 'Montserrat', sans-serif;
        border: 12px solid #00aa9d;
        margin-top: 50px;
        margin-left: 15px;
    }
    .Circul_1 {
        margin-left: 35px;
        border-right: 10px solid #d1d6d6;
   }
   #main {
       float: left;
       margin-top: -817px;
       margin-left:53%;
       width: 50%;
       margin-right: 5px;
   }
   #Center{
       margin:0 auto;
       width: 99%;
   }

   #name {
    
    font-size: 15px;
    
}
    #course {
    
    font-size: 10px;
   
}
    .My-marg{

margin-top:10px;

margin-left: 5px;

font-size: 12px;

width: 100%;

line-height: 20px;
}   
.h2{
        margin-top:50px;
        font-size: 15px;
        text-shadow: 1px 1px 2px pink;
        color: rgb(0, 0, 0);
        border: 2px solid #00aa9d;
        background-color:#00aa9d;
        border-radius: 50px 1000px 50px 1000px;
        width: 65%;
        text-align:center;
        margin-left:50px;
    }
    .b_side {
        margin-top: 30px;
        width: 30%;
        font-size: 10px;
        line-height: 15px;
        margin-left:50px;
}
.h3{
    margin-left: 50px;
    font-size: 15px;
    margin-top:30px;
}
.Relative{
    font-size:10px;
    width: 20px;
    height: 20px;
    margin-left: -45px;
    margin-top: 20px;
}
.Img-radius{
   
    width: 130px;
    height: 150px;
    border: 10px solid #00aa9d;
    border-radius: 30%;
    border-radius: 0px 70px 00px 70px;
    margin-left: 50px;
    object-fit: cover;
}
#About_Me{
    display: flex;
    flex-direction: column;
    margin-top:30px;
    width: 50%;
    
}
.Contact{
    font-size:12px;
    margin-left: 15px;
    margin-top:-10px;
    width: 55%;
}
#header{
    /* width: 280px; */
    margin-top:-15px;
}
.Skills{
    font-size: 12px;
    margin-top: 10px;
    
}
#hr-name{
    width:150px;

}
#hr-course{
    width:100px;
}
.Text {
    font-size:12px;
}
}
@media (max-width:880px){
    .Circul{
        width: 75px;
        height: 75px;
        font: 15px/36px 'Montserrat', sans-serif;
        border: 10px solid #00aa9d;
        margin-top: 40px;
        margin-left: 10px;
    }
    .Circul_1{
        margin-left: 30px;
        border-right: 10px solid #d1d6d6;}
}
@media (max-width:750px){
    .Circul{
        width: 65px;
        height: 65px;
        font: 13px/34px 'Montserrat', sans-serif;
        border: 10px solid #00aa9d;
        margin-top: 40px;
        margin-left: 10px;
    }
    .Circul_1{
        margin-left: 30px;
        border-right: 10px solid #d1d6d6;}
        
        .b_side {
        margin-top: 40px;
        width: 100%;
        margin-left:10px;}
        

}
@media (max-width:670px){
    .Img-radius{
   
width: 120px;
   
height: 120px;
   
border: 6px solid #00aa9d;
   
/* border-radius: 30%; */
   
border-radius: 0px 70px 00px 70px;
   
margin-left: 70px;
   
object-fit: cover;
}
        .My-marg{
            font-size:10px;
        }
         
    .Contact{
        font-size:12px;
        margin-left: 15px;
        margin-top:-10px;
        width: 100%;
    }
    #header{
        /* width: 70%; */
        /* margin-left:5%; */
        /* margin-top:-15px; */
    }
    .Skills{
        font-size: 12px;
        margin-top: 10px;
        
    }
    #hr-name{
        width:150px;
    }
    #hr-course{
        width:100px;
    }
    .Text {
        font-size: 10px;
        line-height: inherit;
    }
    #header{
        margin-top: 20px;
        /* margin-left: 20px; */
        width: 100%;
    }
    #name{
        /* margin-left: 10%; */
        font-size:12px;
    }
    #course{
        /* margin-left: 10%; */
        font-size: 11px;
    }
    .h3{
        font-size:11px;
    }
    .Contact{
        font-size:10px;
    }
    .Skills{
        width:30%;
    }
    .first-skills{
        width:180px;
    }
    .second-skills{
        width:120px;
    }
    .third-skills{
        width:80px;
    }
    #About_Me{
        width: 70%;
        line-height: 20px;
    }
    #main{
    margin-top: -723px;
    }
    .h2{
        width: 55%;
        margin-top: 40px;
    }
    .Circul{
        width: 50px;
        height: 50px;
        font: 9px/25px 'Montserrat', sans-serif;
        border: 6px solid #00aa9d;
        margin-top: 20px;
        margin-left: 20px;
    }
    .Circul_1{
        margin-left: 40px;
        border-right: 6px solid #d1d6d6;
    }
    }

    @media (max-width:500px){
        .Img-radius{
            margin-left:28%;
        }
        #main{
            
            padding-top:800px;
            width:80%;
            margin-left:10%
        }
        #header{
            width:50%;
            margin-left:25%;
        }
        #name{
            font-size: 14px;
            width:100%;
            
        }
        #course{
            font-size: 13px;
           
        }
        #About_Me {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            width: 90%;
        }
        .My-marg{
            font-size:12px;
        }

        aside{
            width:80%;
            margin-left:10%
        }
            
        .Contact{
            font-size:11px;
            margin-left: 15px;
            margin-top:20px;
            width: 99%;
        }
        
        .Skills{
            font-size: 12px;
            margin-top: 10px;
            
        }
        #hr-name{
            width:150px;
        
        }
        #hr-course{
            width:100px;
        }
        .Text {
            font-size:12px;
        }
    }
    